*{
	margin: 0px;
	padding: 0px;
}
  /* Navigation*/
    .navbar{
      background-color: #000;
    }   

    .navbar
    .navbar-contact{
      background-color: #000;
    }

		.navbar
    .scrolling-navbar {
      transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
      background-color: #000000;
    }
    footer.page-footer {
      background-color: #000000;
    }
    @media only scren and (max-width:769px){
      .page-footer{
         background-color: #000000;
      }
    }
    @media only screen and (max-width: 768px) {
      .navbar {
        background-color: #282923;
      }
    }
    /* for home page only)*/
    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    /* background-color: rgba(255,255,255,.1); */
    color: rgb(79,129,188);
    }
    footer.page-footer {
    background-color: #616161;
}


    /* Necessary for full page carousel*/
    html,
    body,
    .view {
      height: 100%;
    }

  
/*index cards*/
.card{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 410px;
  }
  .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33);
  }

h6{
	line-height: 1.7;
}
hr{
	margin-top: 0em;
}
/* abotushtml css */
.list-group-item-primary{
	background-color: rgba(126, 123, 215, 0.2);
	color:#fff;
	font-weight: bold;
}

/*contact css*/
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100%;
}

@media(max-width: 992px) {
  .view{
    width: auto;
    height: auto;
    background-size: cover;
  }
}


@media(max-width: 800px){
  #text-displace{
    margin-left: 20px;
  }
}

.vl {
    border-left: 6px solid #20B2AA;
    height: 484px;
    margin-left: 27px;
}

@media(max-width: 767px) {
  .vl{
    display: none;
  }
}


