*{
	margin: 0px;
	padding: 0px;
}
.s2l-color{
    color: rgb(79,129,188)!important;;
  }
  /* Navigation*/
    .navbar{
      background-color: transparent;
    }

    .navbar
    .navbar-contact{
      background-color: #000;
    }
    
		.navbar
    .scrolling-navbar {
      transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
      background-color: #f3f2f2;
    }
    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    color: #00b8e6;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #000;

}


.navbar.navbar-dark .navbar-toggler-icon {
    background-image: url(https://mdbootstrap.com/img/svg/hamburger4.svg?color=ef5350);
    cursor: pointer;
}
    /*footer.page-footer {
      background-color: #000000;
    }*/
    @media only scren and (max-width:769px){
      .page-footer{
         background-color: #000000;
      }
    }
    @media only screen and (max-width: 768px) {
      .navbar {
        background-color: #f3f2f2;
      }
    }
    /* for home page only)*/

    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    /* background-color: rgba(255,255,255,.1); */
    color: rgb(79,129,188);
    }
   

    .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #000;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    }
    






    footer.page-footer {
    background-color: #616161;
    }



    /* Necessary for full page carousel*/
    html,
    body,
    .view {
      height: 100%;
    }

    /* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .carousel-item:nth-child(1) {
      background-image: url("../img/air1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(2) {
      background-image: url("../img/sow.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(3) {
      background-image: url("../img/Big-Truck.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
}



/*index cards*/
.card{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 410px;
  }
  .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33);
  }

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 2px;
}
h6{
	line-height: 1.7;
}
hr{
	margin-top: 0em;
}
/* abotushtml css */
.list-group-item-primary{
	background-color: rgba(126, 123, 215, 0.2);
	color:#fff;
	font-weight: bold;
}

/*contact css*/
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100%;
}

@media(max-width: 800px){
  #text-displace{
    margin-left: 20px;
  }
}
