*{
	margin: 0px;
	padding: 0px;
}
.vl {
    border-left: 1px solid black;
    height: 333px;
    float: right;
    z-index: -1;
    margin-top: -200px;
}
#image0{
	background-image: url('../img/mg.jpg');
	height: 400px;
	width: 100%;

	  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#image1{
	background-image: url('../img/train.jpg');
	height: 400px;
	width: 100%;

	  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#image2{
	background-image: url('../img/air.jpg');
	height: 400px;
	width: 100%;


	  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#image2{
	background-image: url('../img/air.jpg');
	height: 400px;
	width: 100%;


	  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-parallax{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  #hor-bar-left {
    margin-left: calc((100% - 477px) * 1);
	}
 #hor-bar-contact-left {
	    margin-left: calc((100% - 437px) * 1);
	}
.hor-bar {
    box-sizing: border-box;
    border-top: 2px solid rgba(0, 0, 0, 1);

}
.hor-bar-white {
	 box-sizing: border-box;
    border-top: 2px solid rgba(255, 255, 255, 1);
}
.image-padding{
	padding: 30px;
}
.hor-bar-air{

    transform-origin: center 1px 0px;
    left: 33px;
     width: 40px;
     position: absolute;
     top: -10px;
      height: 5px;
}

.hor-bar-right{
	margin-left: calc((100% - 558px) * 1);
}

.hor-bar-sea {
    transform-origin: center 1px 0px;
    left: 32px;
    width: 40px;
    position: absolute;
    top: 27px;
    height: 5px;
}
#what-we-do-bg{
	background-image: url('../img/mg.jpg');
	position: center;
	width: 100%;
	height: 600px;
	margin: 0px;

	  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

.what-we-do-center{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    font-weight: 500;
}
.what-we-do-list{
	list-style: none; font-size: 16px; text-align: left;
}

.st0{fill:#282923;}
#Layer_1{
	margin-left: -93px;
    margin-right: -93px;
    margin-top: -62px;
}
.contact-margin{
	margin-left: -93px;
    margin-right: -93px;
}
.text-padding{
	padding: 10px;
}


  /*service ko lagi css*/

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #282923 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #282923 !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}
h6{
	line-height: 1.7;
}
hr{
	margin-top: 0em;

}
.hr-light {
  border-top: 3px solid #fff;
  width: 235px;
}

/* abotushtml css */

.list-group-item-primary{
	background-color: rgba(126, 123, 215, 0.2);
	color:#fff;
	font-weight: bold;
}





/*contact css*/
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100%;

}
#map_canvas { height: 300px; width: 80%;}
